html {
  height: 100%;
}
html body {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}
html body .navbar {
  padding-top: 15px;
  padding-bottom: 15px;
}
html body .navbar a.navbar-brand {
  font-size: 32px;
  font-weight: 300;
}
html body #search {
  padding-bottom: 15px;
}
html body #search input.form-control {
  border-radius: 0px;
  font-size: 14px;
  font-weight: 300;
}
html body button.btn-lg {
  border-radius: 0px;
  font-size: 14px;
  font-weight: 300;
}
html body button.btn-lg .icon-container {
  height: 24px;
  width: 24px;
}
html body .no-gutter {
  padding-left: 0px;
  padding-right: 0px;
}
html body .result-item {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
html body .result-item:hover {
  border-color: #007bff;
  border-left: 5px solid #007bff;
  margin-left: -4px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 2px 0px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
html body .result-item a {
  color: #000;
  text-decoration: none;
}
html body .wiki-text {
  padding: 15px;
}
html body .wiki-text h5 {
  font-weight: 300;
}
html body .wiki-text p.lead.description {
  font-size: 14px;
}
html #created-by {
  font-weight: 300;
}
html #created-by a {
  color: #000;
}
